body {
    font-family: 'Cascadia', 'Times New Roman', Times, serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #F3C99C;
    height: 100vh;
    margin: 0;
}

.around {
    background-color: #E3874E;
    border: 5px solid #582A0E;

    padding:  1rem;
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: column;

    height: 65vh;
    width: 28vw;
}

.screen {
    box-sizing: border-box;
    border: 3.5px solid #3B352B;
    background-color: #9C8F76;

    height: 10vh;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-flow: wrap;
    flex: 1;
    gap: 1px;

    padding: 0 0.75rem 0.75rem;
}

button {
    flex: 1;
    min-width: 6vw;

    background-color: #DC4C36;
    color: #F8E1C9;

    font-size: x-large;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid rgb(139, 40, 24);
}

/* colors: 

#401F29 - purple
#9C8F76 - beaver 
#F3C99C - sunset
#E3874E - orange
#DC4C36 - vermillion

*/